.container {
  width: 100%;
  position: relative;
}

.label {
  text-align: left;
  margin-bottom: 2px;

  z-index: 2;
  position: absolute;
  left: 0.5rem;
  font-weight: 400;
  top: 1rem;
  font-size: 0.85rem;
  color: #6e7781;
  letter-spacing: 0.005625rem;
  pointer-events: none;
  transition: all 0.2s ease-in;
  transform: none;

  @media all and (-ms-high-contrast: none), (-ms-high-contrast: active) {
    width: 88%;
    background: #fff;
  }
}

.active {
  transform: translateY(-0.5rem);
  font-size: 0.7rem;
}

.input {
  margin: 5px 0px;
  padding: 11px 8px 0 6.5px;
  width: 100%;
  height: 40px;
  border-radius: 4px;
  border: 1px solid #d4d4d4;
  box-sizing: border-box;
  font-size: 14px;
  cursor: text;
}

.resultsContainer {
  border-radius: 4px;
  padding: 5px 0px;
  box-shadow: rgba(0, 0, 0, 0.1) 0px 0px 0px 1px,
    rgba(0, 0, 0, 0.1) 0px 4px 11px;

  overflow-y: auto;
  position: relative;
  max-height: 300px;
  z-index: 99999;
  top: 100%;
  position: absolute;
  width: 100%;
  background-color: white;
}

.resultItem {
  padding: 8px;
  color: black;
}

.resultItem:hover {
  background-color: #deecff;
}
